<div class="container-fluid"  ng-if="isAuthenticated()">

        <!-- HEADER AND COUNT -->
        <div class="jumbotron text-center visible-desktop hidden-phone" >
            <h1>Hi {{username}}! </h1>
            <h3>Total registrations for breeze events: <span class="label label-primary">{{ registrations.length }}</span></h3>
            <h3>Your registrations: <span class="label label-primary">{{filteredRegistrations.length}}</span></h3>
            <h4 ng-if="username.length == 0">Reload if you dont see your Name!</h4>
        </div>


              <div ng-if="filteredRegistrations.length == 0">
                <h4>No registrations found. Use the <a href="/#/events" class="btn btn-warning btn-xs" >Register</a> option</h4>
                <small>If you dont see your name above,try reloading.</p>
              </div>
              <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default"  ng-repeat="registration in filteredRegistrations=( registrations )" ng-show="username.length > 0">
                <div class="bookingcard">
                <div class="panel-body ">
                  <div ng-show="username.length > 0">
                    <div class="row">
                      <div>
                        <h4 class="text-center">{{ registration.eventName }}</h4>


                      </div>
                      <div class="text-center">
                        <button class="btn btn-xs btn-danger" ng-click="deleteRegistration(registration._id)">Delete</button>

                      </div>
                    </div>
                    <div ng-if="filteredRegistrations.length == 0">
                      <h4>No registrations found. Use the <a href="/#/events" class="btn btn-warning btn-xs" >Register for events</a> option to Register!</h4>
                      <small>If you dont see your name above,try reloading.</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>

                <!--Result output-->
          
    </div>
